body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(247, 193, 112), rgb(243, 139, 113));
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar img {
    width: 5%;
    height: 5%;
    padding: 0px 15px;
    margin-top: 10px;
    float: left;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 60%;
    height: 60%;
}

.command {
    color: #5c65f2;
    background-color: #dbdef4;
    border-radius: 5;
    margin: auto;
}

.command:hover {
    color: white;
    background-color: #5865f2;
}

.injector {
    color: #e12a5c;
}

.warp {
    color: #526191;
}

.building {
    color: #8fbba2;
}

.emoji {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.message {
    align-self: center;
    border-radius: 30px;
    padding: 20px;
}

.subtitle {
    font-size: large;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}

.item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: white;
}

.social {
    width: 30px;
    height: 30px;
    padding: 0px 15px;
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

.button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #5865f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #4752c4;
}

.timestamp {
    background-color: rgba(0, 0, 0, 0.15)
}

.command-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.command-table tr {
    border-bottom: 1px solid #dbdef4;
    text-align: left;
}

.command-table tr:last-child {
    border-bottom: none;
}

.command-table td {
    padding: 15px;
}
