body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/assets/images/gradient_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar img {
    width: 5%;
    height: 5%;
    padding: 0px 15px;
    margin-top: 10px;
    float: left;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 60%;
    height: 60%;
}

.command {
    color: #5c65f2;
    background-color: #dbdef4;
    border-radius: 5;
    margin: auto;
}

.command:hover {
    color: white;
    background-color: #5865f2;
}

.injector {
    color: #e12a5c;
}

.warp {
    color: #526191;
}

.building {
    color: #8fbba2;
}

.emoji {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.message {
    align-self: center;
    border-radius: 30px;
    padding: 20px;
}

.subtitle {
    font-size: large;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}

.item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
}

.social {
    width: 30px;
    height: 30px;
    padding: 0px 15px;
}

.button-container {
    margin-top: 10px;
    text-align: center;
}

.button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #5865f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #4752c4;
}

.timestamp {
    background-color: rgba(0, 0, 0, 0.15)
}

.command-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.command-table tr {
    border-bottom: 1px solid #dbdef4;
    text-align: left;
}

.command-table tr:last-child {
    border-bottom: none;
}

.command-table td {
    padding: 15px;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.item .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.item .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.item .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}