/* Importação da fonte */
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

/* Estilo do corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'gg sans Normal', sans-serif;
    background-image: linear-gradient(rgb(247, 193, 112), rgb(243, 139, 113));
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

/* Estilo de links no corpo */
body a {
    text-decoration: none;
    color: rgb(0, 110, 233);
}

/* Estilo do logo */
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 60%;
    height: 60%;
}

/* Navbar fixa no topo */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    height: 5%;
    text-decoration: none;
}

/* Estilo do logo da navbar */
.navbar img {
    width: 5%;
    height: 5%;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 0;
    float: left;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilo da nova navbar */
.navbar-menu {
    display: none;
    background-color: #333;
    padding-inline: 60px;
}

.navbar-menu img {
    width: 5%;
    height: 5%;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 0;
    float: left;
}

.navbar-menu a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar-menu a:hover {
    background-color: #575757;
}

/* Estilo do menu */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    color: #333;
    background-color: #333;
    overflow: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #f1f1f1;
}

.menu.open {
    left: 0;
}

.menu-icon.open {
    left: 260px;
    /* Posição quando o menu está aberto */
}

@media (max-width: 768px) {
    .menu-icon {
        display: inline-block;
        /* Exibe o hambúrguer */
    }

    .navbar-menu {
        display: none;
        /* Esconde a navbar de desktop */
    }
}

@media (min-width: 769px) {
    .menu {
        display: none;
        /* Esconde o hambúrguer */
    }

    .navbar-menu {
        display: flex;
        /* Exibe a navbar de desktop */
    }
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 30px auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.container img {
    text-align: center;
}

/* Estilo dos comandos */
.command {
    color: #5c65f2;
    background-color: #dbdef4;
    border-radius: 5;
    margin: auto;
}

.command:hover {
    color: white;
    background-color: #5865f2;
}

/* Estilos diversos */
.injector {
    color: #e12a5c;
}

.warp {
    color: #526191;
}

.building {
    color: #8fbba2;
}

/* Emojis */
.emoji {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Mensagens */
.message {
    align-self: center;
    border-radius: 30px;
    padding: 20px;
    max-width: 100%;
}

/* Subtítulo */
.subtitle {
    font-size: large;
}

/* Container de itens com animação */
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
    animation: fadein 0.5s;
}

/* Animação de fadein */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Suporte para outros navegadores */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilo de itens */
.item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

/* Rodapé */
.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: white;
}

/* Ícones sociais */
.social {
    width: 30px;
    height: 30px;
    padding: 0px 15px;
}

/* Container de botões */
.button-container {
    margin-top: 10px;
    text-align: center;
}

/* Botões */
.button {
    margin: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #5865f2;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #4752c4;
    cursor: pointer;
}

/* Timestamp */
.timestamp {
    background-color: rgba(0, 0, 0, 0.15);
}

/* Tabela de comandos */
.command-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

.command-table tr {
    border-bottom: 1px solid #dbdef4;
    text-align: left;
}

.command-table tr:last-child {
    border-bottom: none;
}

.command-table td {
    padding: 15px;
}

/* Container de ordenação */
.sort-container {
    margin-top: 10px;
    text-align: center;
}

.sort-container label {
    margin-right: 10px;
    font-weight: bold;
}

.sort-container select {
    padding: 5px;
    padding-right: 21%;
    margin: 10px;
    border-radius: 2px;
    color: #949ba4;
    border: 1px solid #ddd;
    background-color: #1e1f22;
    cursor: pointer;
    font-size: large;
}

/* Responsividade */
@media (max-width: 768px) {}